* {
  margin: 10px ;
}

.container{
  width: 1168px;
  margin: 0 auto;
}
#poppins{
  font-family: 'Poppins', sans-serif;
}
/* section 1 */

.navbar {
  display: flex;
  justify-content: space-between; 
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  width: 600px;
  height: 50px;
  margin-top: 100px;
  margin-left: 200px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: rgb(247, 191, 6);
}


#logo {
  margin-top: 120px;
  margin-left: 5px;
  width: 100px;
  height: 30px;
}

#butt {
  margin-top: 100px;
  margin-right: 60px;
}

#phone {
  width: 300px;
}

.sectionphone {
  display: flex;
  justify-content: space-evenly;
  background-image: url(../images/buildings.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.intro {
  margin-top: 200px ;
}

#editor {
  width: 250px;
}

.introtxt {
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.introsubtxt{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.button {
  background-color: blue;
  border-radius: 30px;
  border-style: none;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

#demo {
  text-decoration: none;
}


/* section 2 */

.companies {
  display: flex;
  margin: 50px;
  margin-bottom: 100px;
  margin-left: 180px;
}

.trust {
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.speed {
  display: flex;
  margin-bottom: 30px;
}

#part {
  width: 80px;
  margin: 40px;
}

/* section 3 */

.section3 {
  display: flex;
  margin-left: 100px;
}

#double {
  width: 500px;
  margin-left: 20px;
}

#title {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.title1 {
  font-size: 20px;
  color: red;
  font-family: 'Poppins', sans-serif;
}

.title2 {
  font-size: 20px;
  color: blue;
  font-family: 'Poppins', sans-serif;

}

.title3 {
  font-size: 20px;
  color: green;
  font-family: 'Poppins', sans-serif;
}

.subtxt {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.increase {
  margin-bottom: 100px;
  font-family: 'Poppins', sans-serif;
}

                                                            /* section 4 */
.vl {
border-left: 2px solid black ;
height: 180px;
 }
 .partition{
  display: flex;
  margin-bottom: 80px;
 }
 .lefttxt{
  font-size: 35px;
  margin-left: 150px;
  margin-right: 0px;
  width: 400px;
  font-family: 'Poppins', sans-serif;

 }
 .righttxt{
  margin-top: 50px ;
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
 }

                                          /* section 5 */
.jackpots{
  display: flex;
  justify-content: space-evenly;
  margin-left:100px; 
}
.payouts{
  margin-right: 100px;
}
.network{
  margin-right: 100px;
}


                                        /* section 6  */
#languageimage{
  width: 450px;
  height: 400px;
  margin-right: 100px;
}
.section6{
  margin-top: 100px;
  margin-left: 130px;
  margin-right: 220px;
  display: flex;
  justify-content: space-evenly;
}
.desgin{
  font-size: 30px ;
  margin-top: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 230px;
}
.rise{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-top: 15px;
}
                                    /* section 7 */
.centertxt{
  text-align: center ;
  margin-top: 100px;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 70px;
}
.choose{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
                                    /* section 8  */
.choose-wrapper{
width: 1000px;
margin: 0 auto;
}
.flex1{
  display: flex;
  text-align: center;
}   
.margin{
  margin-right: 100px;
}
.poppinsbold{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.poppinsregular{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
#marginleft{
  margin-left: 100px;
}

                                          /* section 9 */
.featflex{
  display: flex;
}
.featsubtxt{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
.feattxt{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.featsubtitle{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  width: 150px;
}
.feattitle{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}
.featurephone{
  width: 600px;
}
.features{
  position: relative;
  margin-left: 100px;

}
.featurephone{
  position: absolute;
  top: 0%;
  left: 50% ;
}
.mergetitles{
  margin-bottom: 50px;
}
.buttonsee{
  background-color: blue;
  border-radius: 30px;
  border-style: none;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  color: white;
  font-size: 10px;
 margin-left: 120px;
 font-family: 'Poppins', sans-serif;
 font-weight: bold;
}

/* section 10 */

.txtcenter{
  text-align: center;
  margin-right: 60px ;
  margin-top: 100px;
}
.sutitle{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.stitle{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.Anually{
  font-family: 'Poppins', sans-serif;

}
.buttonflex {
  border: 1px solid;
  display: flex;
  justify-content: center;
}
.buttflex {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 280px;
  height: 50px;
  border-radius: 25px ;
}
.Monthly {
  position: absolute;
  padding: 7px 29px;
  background-color: blue;
  color: white;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid violet; */
  text-align: center;
  font-size: 15px;
  height: 30px;
  width: 80px;
  /* padding-top: 10px; */
  /* margin-top: 10px; */
}


/* section 11 */
.cardleft {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 590px;
  margin: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.cardright{ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 320px;
    height: 590px;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.cardflex{
  display: flex ;
  margin-top: 50px;
}
.dollar{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.month{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 0;
}
.cardsubtitle{
  font-family: 'Poppins', sans-serif;
}
.cardtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: bold ;
}